<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<title>Perso</title>
<link href="/styles//css/bootstrap.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body>
<form class="form-inline">
<input type="text" class="input-small">
<label class="checkbox">
<input type="checkbox"> Bouh !
</label>
<label class="radio">
<input type="radio"> Hey !
</label>
<select class="input-small">
<option>1</option>
<option>2</option>
<option>3</option>
</select>
<button type="submit" class="btn">Ahh !!!</button>
<span class="help-inline">Attention !</span>
</form>


</body></html>