!!!5
html
	head
		link(rel='stylesheet', href='/styles/css/bootstrap.css')
		title #{title}Perso
	body
		div.container-fluid
			div.row-fluid
				a.offset5.btn(href='#') Lancer le bot !
				span.offset7.label.label-success Bot en Ligne !
